*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

h1{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.table{
  text-align: center;
  position: relative;
  
  
}

.table-header > tr > th{
  position:sticky;
  top:0;
  background-color:black;
 border-bottom:5px solid gray;
  
}



.table > tbody > tr > td {
  vertical-align: middle;
}

.nothing{
  padding:40px;
  text-align: center;
}


.nothing > h1{
  padding:40px;
}

.watchlist-container{
  height:500px;
  overflow-y: scroll;
  overflow:auto;
}
