*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

h1{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

img{
  width:200px;
  height:200px;
}

.table{
  text-align: center;
  position: relative;
  
  
}

.table-header > tr > th{
  position:sticky;
  top:0;
  background-color:black;
 border-bottom:5px solid gray;
  
}



.table > tbody > tr > td {
  vertical-align: middle;
}

.nothing{
  padding:40px;
  text-align: center;
}


.nothing > h1{
  padding:40px;
}

.watchlist-container{
  height:500px;
  overflow-y: scroll;
  overflow:auto;
}


.search-form{
  padding: 20px 0;
  display:flex;
  justify-content: center;
}
.search-form > Input{
  width:50%;
  margin-right: 15px;
}

.search-form > Button{
  margin-right:10px;
}
