/* Global Styling*/

*{
  padding : 0;
  margin:0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

img{
  width:200px;
  height:200px;
}




tbody > tr > td, tbody > tr > th {
  text-align: center;
  vertical-align: middle;
  padding:0;
  max-width: 200px;
  min-width:100px;
}



.table .header{
  
  padding:0;
  width:144px;
  vertical-align: middle;
}



.table-header{
  background-color: black;
  position: sticky;
  left:0;
}

.empty-header{
  min-width:317px;
  width:317px;
  margin:0;
}


.table-header > tr > th{
  text-align: center;
  vertical-align: middle;
  
}






/* Local Styling */

.search-form{
  display:flex; 
  justify-content: center;
  margin-top: 20px;
}

.search-form > Button{
  margin-right:10px;
}

.search-bar{
  flex-basis:50%;
  margin-right:10px;
}

.table td, .table tr{
  vertical-align: middle;
}


