/* Global Styling*/

*{
  padding : 0;
  margin:0;
  box-sizing: border-box;
}

body{
  overflow:hidden;
}

h1{
  text-align: center;
}

img{
  width:200px;
  height:200px;
}




tbody > tr > td, tbody > tr > th {
  text-align: center;
  vertical-align: middle;
  padding:0;
  max-width: 200px;
  min-width:100px;
}














/* Local Styling */



.dark{
  position: relative;
   
 }

 .dark > th{
   position:sticky;
   top:0;
   right:0;
   bottom:0;
   left:0;
 }
 


.table-div{
  display:flex;
  flex-direction: column;
  max-height: 260px;
  
  
}


.empty-placeholder{
  margin:50px;
}

.table-header{
  background-color: black;
}


.table .header{
  
  padding:0;
  width:144px;
  vertical-align: middle;
}






.empty-header{
  min-width:317px;
  width:317px;
  margin:0;
}


.table-header > tr > th{
  text-align: center;
  vertical-align: middle;
  
}


.search-form{
  display:flex; 
  justify-content: center;
  margin-top: 20px;
}

.search-form > Button{
  margin-right:10px;
}

.search-bar{
  flex-basis:50%;
  margin-right:10px;
}

.table td, .table tr{
  vertical-align: middle;
}




