.search-column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-column-gap: 10px;
    justify-items: stretch;
    margin:auto;
}

.search-column li{
    list-style-type: none;
    
}

.search-column img{
    width:100px;
    height:200px;
}